.container {
  display: flex;
  justify-content: center;
  padding: 14px;
  flex-direction: column;
  align-items: center;
gap: 20px;
}

.form_title{
  color: #fecbca;
  font-weight: bold;
  font-size:25px;

}

.task_container{
  width: 100%;
}


.addTask {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.title-section,
.description-section {
  display: flex;
  flex-direction: column;
}

.addTask input {
  height: 40px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #008787;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
  width: 100%;
}

.addTask input::placeholder {
  color: #008787;
  font-weight: bold;
}

.addTask button {
  height: 40px;
  background: #45c2b4;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  border-color: #fecbca;
}

.error {
  border-color: #e55941;
}

.error-message {
  color: #e55941;
  font-size: 0.8em;
  margin-top: 2px;
  font-weight: bold;
}

@media (min-width: 768px) {

  .title-section,
  .description-section {
    flex: 1;
    margin-right: 10px;
  }


}

@media (max-width: 720px) {
  .form_title{

    font-size:21px;
  
  }


}

@media (max-width: 600px) {
  .form_title{

    font-size:18px;
  
  }
  .addTask {
    width: 100%;
    flex-direction: column;

  }

  .title-section,
  .description-section {
    margin-right: 0;
  }

  .addTask input,
  .addTask button {
    font-size: 14px;
  }
}


@media (max-width: 360px) {
  .form_title{

    font-size:15px;
  
  }
  .addTask {
    flex-direction: column;
  }

  .addTask input {
    font-size: 16px;
  }

  .addTask button {
    font-size: 16px;
  }
}